{% extends "public/templates/public_template.html" %}

{% block title %}Tietoa{% endblock %}

{% block main %}

<div class="container aboutPage">

      <h4>Laivatutka</h4>
      <p>Mustolan sulkuun saapuvia laivoja seuraava tutka</p>
      <hr>

      <h4>Käytetyt teknologiat</h4>
      <p>Python, JavaScript, HTML, CSS</p>
      <p>jQuery, Ajax, Flask, Bootstrap</p>
      <hr>

      <h4>Tekijä</h4>
      <p>Henrikki Helander: <a href="https://helangor.github.io/portfolio/">Lisää tietoa tekijästä</a></p>
</div>
{% endblock %}