{% extends "public/templates/public_template.html" %}

{% block title %}Auton hintalaskuri{% endblock %}

{% block main %}

<body>
    <form action="/hintalaskuri" method="POST" id="carForm">
        <h1 id="arvo">Selvitä autosi arvo</h1>

        <div class="contentform">
            <div class="leftcontact">
            </div>
        </div>
        <div class="form-group">
            <div class="form-button">
                <button type="submit" class="btn btn-primary">Anna hinta-arvio</button>
            </div>
        </div>

        <script>
            $('#carForm').on('submit', function (event) {
                $('#price-text').text("Analysoidaan").delay(0)
                event.preventDefault();
                $.ajax({
                    type : 'POST',
                    url : '/hintalaskuri',
                    data: {}
                })
                .done(function(data) {
                    $('#name').text(data.name);
                    $('#mmsi').text(mmsi.name);
                    $('#distance').text(distance.name);
                    $('#destination').text(destination.name);
                    $('#speed').text(speed.name);
                    $('#width').text(width.name);
                    $('#length').text(length.name);

                });
            });
        </script>
        <h1 class="float-center" id='name'></h1>
        <h1 class="float-center" id='mmsi'></h1>
        <h1 class="float-center" id='distance'></h1>
        <h1 class="float-center" id='destination'></h1>
        <h1 class="float-center" id='speed'></h1>
        <h1 class="float-center" id='width'></h1>
        <h1 class="float-center" id='length'></h1>


    </form>
</body>

</html>
{% endblock %}