{% extends "public/templates/public_template.html" %}

{% block title %}Tietoa{% endblock %}

{% block main %}
<meta id="cordinates" data-name="{{name}}" data-other="{{other}}">
<div class="container">
  <div class="row header-row">
    <div class="col-md-4"><span class="float-left">
        <h4>Tietoa</h4>

        <p><strong>Laivan nimi: </strong><span id="ship-name">{{ name }}</span></p>
        <p><strong>Laivan tyyppi: </strong><span id="shipType">{{ shipType }}</span></p>
        <p><strong>Maa: </strong><span id="flag">{{ flag }}</span></p>
        <p><strong>Etäisyys Mustolasta: </strong><span id="distance">{{ distance }}</span> <span>km</span> </p>
        <p><strong>ETA: </strong><span id="eta">--</span> minuuttia</p>
        <img id=shipPhoto src={{ image }} alt="Ship photo">
        <p hidden id=latitude>{{ latitude }}</p>
        <p hidden id=longitude>{{ longitude }}</p>
    </div>


    <!-- Kartan ulkopuolelle: Nimi, Maa, Distance, speed, arvioitu saapumisaika, Kuva
        Karttaan:  Nimi, MMSI, P/l/s, ship type, destination, nav stat.-->

    <!--Lisätään kartta, jossa näkyy laiva-->
    <div class="col-md-8">
      <div id="map"></div>
      <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7RqiI1IT985csNB4X2AfHSytWHacYy7c&callback=initMap"></script>

      <script>
        var marker = "";
        var map = "";
        var image = "";

        function moveMarker() {
          var lat = parseFloat($('#latitude').html());
          var lng = parseFloat($('#longitude').html());
          var newLatLng = new google.maps.LatLng(lat, lng);
          marker.setPosition(newLatLng);
          map.setCenter(newLatLng);
        }

        //Laskee kuinka pitkään menee, että laiva saapuu Mustolaan. Voisi käyttää jotain keskinopeutta?
        function calculateEta(speed, distance) {
          const eta = Math.round((distance / (speed * 1.852)) * 60)
          $('#eta').text(eta);
        }

        function initMap() {
          var lat = parseFloat($('#latitude').html())
          var lng = parseFloat($('#longitude').html())
          var ship = { lat: lat, lng: lng }; // The location of ship
          map = new google.maps.Map(document.getElementById('map'), { zoom: 14, center: ship });

          image = $('#shipPhoto').attr('src');

          //info window that shows extra data in when the google maps ship icon is clicked on
          infoWindow = new google.maps.InfoWindow({
            content: "<div style='float:right; padding: 10px;'>" +
              "<p><strong>Destination: </strong><span>{{ destination }}</span></p>" +
              "<p><strong>Speed: </strong><span>{{ speed }}</span></p>" +
              "<p><strong>Pituus/leveys/syväys: </strong><span>{{ length }}</span><span> / </span><span>{{ width }}</span><span> / </span><span>{{ draught }}</span> m</p>"          });

          //custom icon
          var icon = {
            url: "https://image.flaticon.com/icons/svg/2928/2928743.svg",
            scaledSize: new google.maps.Size(50, 50), // scaled size
          };

          // The marker, positioned at ship
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map,
            icon: icon
          });
          marker.addListener("click", () => {
            infoWindow.open(map, marker);
          });
        }

        //Päivittää laivojen tiedot 5s välein
        setInterval(function () {
          $.ajax({
            type: 'POST',
            url: '/',
          })
            .done(function (data) {
              $('#ship-name').text(data.name);
              $('#mmsi').text(data.mmsi);
              $('#length').text(data.length);
              $('#width').text(data.width);
              $('#draught').text(data.draught);
              $('#flag').text(data.flag);
              $('#shipType').text(data.ship_type);
              $('#distance').text(data.distance);
              destination = data.destination;
              speed = data.speed;
              $('#navStat').text(data.nav_stat);
              $('#latitude').text(data.latitude);
              $('#longitude').text(data.longitude);
              $('#shipPhoto').attr('src', data.image);
              moveMarker();
              calculateEta(data.speed, data.distance);
            });
        }, 5000);
      </script>
    </div>
  </div>
</div>
{% endblock %}